// GENERAL

:root,
html body {
  // Layout
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  // Typography
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

  // Color presets
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 4%);
  --color-light: hsl(0, 0%, 96%);
  --color-dark: hsl(0, 0%, 21%);
  --color-primary: hsl(171, 100%, 41%);
  --color-link: hsl(217, 71%, 53%);
  --color-info: hsl(204, 86%, 53%);
  --color-success: hsl(141, 53%, 53%);
  --color-warning: hsl(48, 100%, 67%);
  --color-danger: hsl(348, 100%, 61%);

  // Borders
  --border-radius: 5px;
}

// BASE LAYOUT

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--color-dark);
}

.content {
  width: 100%;
  height: 100%;
}

.page {
  margin: 20px 10%;
  padding: 20px 10%;
  background-color: var(--color-light);
  border-radius: calc(2 * var(--border-radius));

  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;

    img {
      align-self: center;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .banner {
    padding: 10px;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
    font-weight: bold;
    color: var(--color-light);
    background-color: var(--color-info);
    border-radius: var(--border-radius);

    p {
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.card {
  padding: 10px;
  // background-color: var(--color-success);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}

// NAVBAR

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

  .navbar-item {
    width: 120px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-success);
    color: var(--color-light);
    font-size: 1.4rem;
    border-radius: 5px;

    cursor: pointer;

    &.active {
      background-color: var(--color-success);
      font-weight: bold;
    }
  }
}

// HOME TAB

.home {
  .hero {
    img {
      height: 100px;
    }
  }

  .hours {
    ul {
      list-style-type: none;
      text-align: center;
      padding: 0;
    }
  }
}

// MENU TAB

.menu {
  .menu-item {
    img {
      height: 170px;
      aspect-ratio: 1;
      object-fit: scale-down;
    }
  }
}
